# PHP
composer.lock
vendor/

# Environment
.env
.env.local
.env.*.local

# Database
raw-php/database.sqlite
raw-php/ipn_log.json
*.sqlite
*.sqlite-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
